 header {
     color: cyan;
     background-color: black;
     font-size: 3rem;
     height: 80px;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 header .button-less {
      padding: 10px;
      border-radius: 5px;
      border: 1px solid gray;
 }